---
layout: default.hbs
---

<div class="container">
	<article id="page" class="page">
		<div class="page-header">
	  		<h1>{{title}}</h1>
		</div>
		<div class="page-content">
			{{> body }}
		</div>
	</article>
</div>
