---
title: <%= site.title %>
---
<div class="row">
	<div class="col-md-4">
		<h2>You now have</h2>
		<ul>
			<li><a href="http://gruntjs.com/">Grunt</a></li>
			<li><a href="http://assemble.io/">Assemble</a></li>
			<li><a href="http://getbootstrap.com/">Bootstrap 3.0</a></li>
		</ul>
  </div>
  <div class="col-md-4">
		<h2>Built using</h2>
		<br /><iframe src="http://lab.lepture.com/github-cards/card.html?user=Hypercubed&repo=assemble-bootstrap-template" frameborder="0" scrolling="0" width="400" height="200" allowtransparency></iframe>
	</div>
</div>

