---
title: "Home"
---
<div class="hero-unit">
	<h1>{{site.title}}</h1>
	<p>You now have</p>
	<ul>
		<li>Grunt</li>
		<li>Assemble</li>
		<li>Bootstrap</li>
	</ul>
	<p />
	Built using:
	<h2>{{pkg.name}} {{pkg.version}}</h2>
	Created and maintained by {{pkg.author}}
</div>
