---
title: <%= site.title %>
---
<div class="row">
	<div class="">
		<p>You now have</p>
		<ul>
			<li>Grunt</li>
			<li>Assemble</li>
			<li>Bootstrap
		</ul>
		<p />
		Built using:
		<h2>{{pkg.name}} {{pkg.version}}</h2>
		Created and maintained by {{pkg.author}}
	</div>
</div>

