---
date: 'hello'
---
<footer>
	<div class="container">
		<p class="pull-left">&copy; {{site.company}} - {{formatDate date "%Y"}} </p>
		<p class="pull-right">
			This website was last updated at {{formatDate date "%m/%d/%Y"}}
		</p>
	</div>
</footer>
