<footer>
	<div class="container">
		<p class="pull-left">&copy; {{site.company}} - {{formatDate site.date "%Y"}} </p>
		<p class="pull-right">
			This website was last updated at {{formatDate site.date "%m/%d/%Y"}}
		</p>
	</div>
</footer>
